# Blockbench theme
*.bbtheme linguist-detectable=true
*.bbtheme linguist-documentation=false

# Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

# pictures?
*.jpg linguist-detectable=true
*.jpg linguist-documentation=false
